body{
    margin: 0px;
}

.header {
    position: relative;
    width: 1600px; height: 943px;
    margin: auto;
    overflow: hidden;
}

.image {
    height: 943px;
    width: 1600px;
}
.image img {
    width: 1710;
    height: 961;
    margin: 0 113px 0 0;
}

.image-text{
    top: 0;
    width: 1600px;
    height: 943px;
    position: absolute;
    font-size: 40pt;
    color: white;
    background-color: rgba(0, 0, 0, .8);

}

.image-text h2{
    font-family: Myriad;
    text-align: center;
    margin: 435px 0 0 0;
}

.image-text p{
    text-align: center;
    margin: auto;
    font-size: 32pt;
    font-family: Georgia;
}

.navigation img{
    position: absolute;
    top: 0;
    margin-left: 128px;
    margin-top: 32px;
}

.navigation p{
    top: 0;
    display: inline-block;
    position: absolute;
    font-size: 14pt;
    font-family: Tahoma;
    margin-top: 37px;
    Margin-left: 693px;
    word-spacing: 50px;
}

.preslider{
    top: 0;
    display: inline-block;
    position: absolute;
    margin-top: 45px;
    margin-left: 125px;
}

.slider{
    stroke: rgba(151, 151, 151, 0.568);
    stroke-width: 2px;
}

.slide{
    stroke: rgba(224, 224, 224, 0.932);
    stroke-width: 2px;
    position: absolute;
    top: 0px;
    left: 570px;
}

.Main {
    width: 1600px; height: 2600px;
    margin: auto;
    overflow: hidden;
}

.Registr{
    color: white;
    display: inline-block;
    width: 1600px;
    height: 121px;
    background-color: #2fac6c;
}

.Login{
    color: white;
    position: absolute;
    top: 943px;
    width: 810px;
    height: 121px;
    background-color: #203747;
    background:linear-gradient(-80deg, transparent 40px, #203747 0);
}

.Registr p{
    position: relative;
    margin: 45px 431px 0 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22pt;
    text-align: right;
}

.Login p{
    position: relative;
    margin-left: 431px;
    margin-top: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22pt;
}

.Login p:hover {
    opacity: .7;
    cursor: pointer;
}

.Registr p:hover {
    opacity: .7;
    cursor: pointer;
}

.finding-text{
    text-align: center;
    width: 1600px;
    margin-top: 90px;
    font-family: Arial, Helvetica, sans-serif;
}

.finding-text h3{
    font-size: 24pt;
    color: #888787;
}

.finding-text p{
    font-size: 16pt;
    color: lightgray;
}

.table-input{
    width: 889px;
    height: 50px;
    margin-left: 355px;
    margin-top: 49px;
    font-family: Arial, Helvetica, sans-serif;
    color: lightgray;
    font-size: 10pt;
    border-collapse: collapse;
    text-align: center;
}

.table-input td{
    border-width: 1px;
    border-color: lightgrey;
    border-style: solid;
    margin: 9px 0;
}

.table-input.just{
    height: 194px;
}

.table-input.just td{
    width: 222px;
}

.domen-input {
    width: 730px; height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    border: none;
    font-size: 12pt;
    text-indent: 10px;
    outline: none;
}

.menu{
    font-family: Arial, Helvetica, sans-serif;
    color: lightgray;
    border: none;
    height: 50px;
    outline: none;
}

.img-main {
    height: 383px;
    width: 1600px;
    overflow: hidden;
    margin: 91px 0 0 0;
}

.img-main img{
    margin: -252px 0 0 0;
}

.package{
    width: 255px; height: 565px;
    position: absolute;
    top: 100px;
    background-color: white;
    box-shadow: 0 3px 20px rgba(0,0,0,.2);

}

.allpack{
    position: absolute;
    top: 1750px;
    height: 565px;
    margin-left: 200px
}

.pack-line{
    stroke: #f9d423;
    stroke-width: 5px;
    position: absolute;
}

.circl.y{
    stroke: #f9d423;
    fill: transparent;
    stroke-width: 8px;
    margin-left: 80px;
    margin-top: 40px;
    position: absolute;
    stroke-dasharray: 200px;
    stroke-dashoffset: 210px;
    stroke-linecap: round;
    background-image: url('C:/Users/Дмитрий/Desktop/My_site/Img/anchor.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.package h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    text-align: center;
    margin-top: 160px;
}

.table-traf{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    margin-left: 27px;
    color: lightgray;
    border-width: 1px 0 1px 0;
    border-style: solid;
    height: 250px;
    width: 200px;
    border-color: lightgray;
}

sub {
    color: lightgray;
}
.price {
    font-size: 20pt;
    margin-top: 20px;
    text-align: center;
    word-spacing: -7px;
}

.price sub, sup {
    font-size: 12pt;
}

.pack-line.price{
    margin-left: 75px;
    margin-top: -20px;
}

.selectP1{
    text-align: center;
    font-size: 12pt;
    margin-top: -5px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.allpack.r{
    position: absolute;
    top: 1750px;
    height: 565px;
    margin-left: 514px
}

.pack-line.r{
    stroke: #7f8c8d;
    stroke-width: 5px;
    position: absolute;
}

.circl.r{
    stroke: #7f8c8d;
    fill: transparent;
    stroke-width: 8px;
    margin-left: 80px;
    margin-top: 40px;
    position: absolute;
    stroke-dasharray: 134px;
    stroke-dashoffset: 76px;
    stroke-linecap: round;
    background-image: url('C:/Users/Дмитрий/Desktop/My_site/Img/Star.jpg');
    background-repeat: no-repeat;
    background-position: center;
}
.allpack.red{
    position: absolute;
    top: 1750px;
    height: 565px;
    margin-left: 828px
}

.pack-line.red{
    stroke: #f85f40;
    stroke-width: 5px;
    position: absolute;
}

.circl.red{
    stroke: #f85f40;
    fill: transparent;
    stroke-width: 8px;
    margin-left: 80px;
    margin-top: 40px;
    position: absolute;
    stroke-dasharray: 252px;
    stroke-dashoffset: 76px;
    stroke-linecap: round;
    background-image: url('C:/Users/Дмитрий/Desktop/My_site/Img/starfull.jpg');
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(-72deg);
}

.allpack.green{
    position: absolute;
    top: 1750px;
    height: 565px;
    margin-left: 1142px
}

.pack-line.green{
    stroke: #1abc9c;
    stroke-width: 5px;
    position: absolute;
}

.circl.green{
    stroke: #1abc9c;
    fill: transparent;
    stroke-width: 8px;
    margin-left: 80px;
    margin-top: 40px;
    position: absolute;
    stroke-linecap: round;
    background-image: url('C:/Users/Дмитрий/Desktop/My_site/Img/Diamond.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.underline{
    stroke: lightgray;
    position: relative;
    margin-left: 200px;
    stroke-dasharray: 6px;
    stroke-width: 2px;
    stroke-linecap: round;
    margin-top: 500px;
}

.about-us{
    position: absolute;
    width: 400px;
    height: 220px;
    margin-top: 100px;
    margin-left: 200px;
    font-family: Arial, Helvetica, sans-serif;
}

.about-us p{
    font-size: 12pt;
    color: gray;
}

.borderline{
    stroke: lightgray;
    position: absolute;
    margin-left: 719px;
    stroke-dasharray: 6px;
    stroke-width: 2px;
    stroke-linecap: round;
    margin-top: 100px;

}

.profile{
    width: 120px;
    height: 135px;
    border: gray;
    border-radius: 60px;
    border-style: solid;
    position: absolute;
    margin-top: 100px;
    text-align: center;
}

.profile.jonny{
    margin-left: 825px;
    height: 90px;
    width: 90px;
    background-image: url('C:/Users/Дмитрий/Desktop/My_site/Img/Jonny.jpg')
}
.info {
    height: 25px;
    width: 90px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: relative;
}

.info h1{
    margin-top: 100px;
    font-size: 12pt;
}

.info p{
    margin-top: 3px;
    font-size: 12pt;
}

.social-logo.jonny{
    margin-top: 325px;
    margin-left: 827px;
    position: absolute;
}

.social-logo.jonny img{
    margin-right: 20px;
}

.profile.john{
    margin-left: 1067px;
    height: 90px;
    width: 90px;
    background-image: url('C:/Users/Дмитрий/Desktop/My_site/Img/john.jpg')
}

.social-logo.john{
    margin-top: 325px;
    margin-left: 1069px;
    position: absolute;
}

.social-logo.john img{
    margin-right: 20px;
}

.profile.johnat{
    margin-left: 1300px;
    height: 90px;
    width: 90px;
    background-image: url('C:/Users/Дмитрий/Desktop/My_site/Img/johnat.jpg')
}

.social-logo.johnat{
    margin-top: 325px;
    margin-left: 1302px;
    position: absolute;
}

.social-logo.johnat img{
    margin-right: 20px;
}

.pre-footer{
    width: 1600px; height: 190px;
    overflow: hidden;
    margin-left: auto;
    position: absolute;
    margin-top: 450px;
}

.pre-footer img{
    margin-top: -435px
}

.quote{
    position: absolute;
    margin-left: 375px;
    width: 850px;
    margin-top: 53px;
    top: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
    text-align: center;
}

.quote-autor{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
    margin: 0;
}

.autor-slider{
    position: absolute;
    width: 155px;
    height: 30px;
    margin-left: 726px;
    margin-top: 112px;
    top: 0;
}

.quote-slider-line{
    stroke: white;
    stroke-width: 2px;
    position: absolute;
    top: 0;
    margin-left: 105px;
}

.slider-point
{
    stroke: white;
    stroke-width: 2px;
    position: absolute;
    top:6px;
}

.slider-point.active{
    margin-left: 120px;
    fill: white;
}

.slider-point.not-active{
    fill: transparent;
    margin-left: 140px;
}

.slider-point.not-active.second{
    margin-left: 160px;
}