@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

body{
    margin: 0px;
}

.header {
    position: relative;
    width: 1600px; height: 943px;
    margin: auto;
    overflow: hidden;
}

.image {
    height: 943px;
    width: 1600px;
}
.image img {
    width: 1710;
    height: 961;
    margin: 0 113px 0 0;
}

.image-text{
    top: 0;
    width: 1600px;
    height: 943px;
    position: absolute;
    font-size: 40pt;
    color: white;
    background-color: rgba(0, 0, 0, .8);

}

.image-text h2{
    font-family: Myriad;
    text-align: center;
    margin: 435px 0 0 0;
}

.image-text p{
    text-align: center;
    margin: auto;
    font-size: 32pt;
    font-family: Georgia;
}

.navigation img{
    position: absolute;
    top: 0;
    margin-left: 128px;
    margin-top: 32px;
}

.navigation p{
    top: 0;
    display: inline-block;
    position: absolute;
    font-size: 14pt;
    font-family: Tahoma;
    margin-top: 37px;
    Margin-left: 693px;
    word-spacing: 50px;
    cursor: pointer;
}

.preslider{
    top: 0;
    display: inline-block;
    position: absolute;
    margin-top: 45px;
    margin-left: 125px;
}

.slider{
    stroke: rgba(151, 151, 151, 0.568);
    stroke-width: 2px;
}

.slide{
    stroke: rgba(224, 224, 224, 0.932);
    stroke-width: 2px;
    position: absolute;
    top: 0px;
    left: 570px;
}

.Main {
    width: 1600px; height: 2600px;
    margin: auto;
    overflow: hidden;
}

.Registr{
    color: white;
    display: inline-block;
    width: 1600px;
    height: 121px;
    background-color: #2fac6c;
}

.Login{
    color: white;
    position: absolute;
    top: 943px;
    width: 810px;
    height: 121px;
    background-color: #203747;
    background:linear-gradient(-80deg, transparent 40px, #203747 0);
}

.Registr p{
    position: relative;
    margin: 45px 431px 0 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22pt;
    text-align: right;
}

.Login p{
    position: relative;
    margin-left: 431px;
    margin-top: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22pt;
}

.Login p:hover {
    opacity: .7;
    cursor: pointer;
}

.Registr p:hover {
    opacity: .7;
    cursor: pointer;
}

.finding-text{
    text-align: center;
    width: 1600px;
    margin-top: 90px;
    font-family: Arial, Helvetica, sans-serif;
}

.finding-text h3{
    font-size: 24pt;
    color: #888787;
}

.finding-text p{
    font-size: 16pt;
    color: lightgray;
}

.table-input{
    width: 889px;
    height: 50px;
    margin-left: 355px;
    margin-top: 49px;
    font-family: Arial, Helvetica, sans-serif;
    color: lightgray;
    font-size: 10pt;
    border-collapse: collapse;
    text-align: center;
}

.table-input td{
    border-width: 1px;
    border-color: lightgrey;
    border-style: solid;
    margin: 9px 0;
}

.table-input.just{
    height: 194px;
}

.table-input.just td{
    width: 222px;
}

.domen-input {
    width: 730px; height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    border: none;
    font-size: 12pt;
    text-indent: 10px;
    outline: none;
}

.menu{
    font-family: Arial, Helvetica, sans-serif;
    color: lightgray;
    border: none;
    height: 50px;
    outline: none;
}

.img-main {
    height: 383px;
    width: 1600px;
    overflow: hidden;
    margin: 91px 0 0 0;
}

.img-main img{
    margin: -252px 0 0 0;
}

.package{
    width: 255px; height: 565px;
    position: absolute;
    top: 100px;
    background-color: white;
    box-shadow: 0 3px 20px rgba(0,0,0,.2);

}

.allpack{
    position: absolute;
    top: 1750px;
    height: 565px;
    margin-left: 200px
}

.pack-line{
    stroke: #f9d423;
    stroke-width: 5px;
    position: absolute;
}

.circl.y{
    stroke: #f9d423;
    fill: transparent;
    stroke-width: 8px;
    margin-left: 80px;
    margin-top: 40px;
    position: absolute;
    stroke-dasharray: 200px;
    stroke-dashoffset: 210px;
    stroke-linecap: round;
    background-image: url('C:/Users/Дмитрий/Desktop/My_site/Img/anchor.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.package h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    text-align: center;
    margin-top: 160px;
}

.table-traf{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    margin-left: 27px;
    color: lightgray;
    border-width: 1px 0 1px 0;
    border-style: solid;
    height: 250px;
    width: 200px;
    border-color: lightgray;
}

sub {
    color: lightgray;
}
.price {
    font-size: 20pt;
    margin-top: 20px;
    text-align: center;
    word-spacing: -7px;
}

.price sub, sup {
    font-size: 12pt;
}

.pack-line.price{
    margin-left: 75px;
    margin-top: -20px;
}

.selectP1{
    text-align: center;
    font-size: 12pt;
    margin-top: -5px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.allpack.r{
    position: absolute;
    top: 1750px;
    height: 565px;
    margin-left: 514px
}

.pack-line.r{
    stroke: #7f8c8d;
    stroke-width: 5px;
    position: absolute;
}

.circl.r{
    stroke: #7f8c8d;
    fill: transparent;
    stroke-width: 8px;
    margin-left: 80px;
    margin-top: 40px;
    position: absolute;
    stroke-dasharray: 134px;
    stroke-dashoffset: 76px;
    stroke-linecap: round;
    background-image: url('C:/Users/Дмитрий/Desktop/My_site/Img/Star.jpg');
    background-repeat: no-repeat;
    background-position: center;
}
.allpack.red{
    position: absolute;
    top: 1750px;
    height: 565px;
    margin-left: 828px
}

.pack-line.red{
    stroke: #f85f40;
    stroke-width: 5px;
    position: absolute;
}

.circl.red{
    stroke: #f85f40;
    fill: transparent;
    stroke-width: 8px;
    margin-left: 80px;
    margin-top: 40px;
    position: absolute;
    stroke-dasharray: 252px;
    stroke-dashoffset: 76px;
    stroke-linecap: round;
    background-image: url('C:/Users/Дмитрий/Desktop/My_site/Img/starfull.jpg');
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(-72deg);
}

.allpack.green{
    position: absolute;
    top: 1750px;
    height: 565px;
    margin-left: 1142px
}

.pack-line.green{
    stroke: #1abc9c;
    stroke-width: 5px;
    position: absolute;
}

.circl.green{
    stroke: #1abc9c;
    fill: transparent;
    stroke-width: 8px;
    margin-left: 80px;
    margin-top: 40px;
    position: absolute;
    stroke-linecap: round;
    background-image: url('C:/Users/Дмитрий/Desktop/My_site/Img/Diamond.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.underline{
    stroke: lightgray;
    position: relative;
    margin-left: 200px;
    stroke-dasharray: 6px;
    stroke-width: 2px;
    stroke-linecap: round;
    margin-top: 500px;
}

.about-us{
    position: absolute;
    width: 400px;
    height: 220px;
    margin-top: 100px;
    margin-left: 200px;
    font-family: Arial, Helvetica, sans-serif;
}

.about-us p{
    font-size: 12pt;
    color: gray;
}

.borderline{
    stroke: lightgray;
    position: absolute;
    margin-left: 719px;
    stroke-dasharray: 6px;
    stroke-width: 2px;
    stroke-linecap: round;
    margin-top: 100px;

}

.profile{
    width: 120px;
    height: 135px;
    border: gray;
    border-radius: 60px;
    border-style: solid;
    position: absolute;
    margin-top: 100px;
    text-align: center;
}

.profile.jonny{
    margin-left: 825px;
    height: 90px;
    width: 90px;
    background-image: url('C:/Users/Дмитрий/Desktop/My_site/Img/Jonny.jpg')
}
.info {
    height: 25px;
    width: 90px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: relative;
}

.info h1{
    margin-top: 100px;
    font-size: 12pt;
}

.info p{
    margin-top: 3px;
    font-size: 12pt;
}

.social-logo.jonny{
    margin-top: 325px;
    margin-left: 827px;
    position: absolute;
}

.social-logo.jonny img{
    margin-right: 20px;
}

.profile.john{
    margin-left: 1067px;
    height: 90px;
    width: 90px;
    background-image: url('C:/Users/Дмитрий/Desktop/My_site/Img/john.jpg')
}

.social-logo.john{
    margin-top: 325px;
    margin-left: 1069px;
    position: absolute;
}

.social-logo.john img{
    margin-right: 20px;
}

.profile.johnat{
    margin-left: 1300px;
    height: 90px;
    width: 90px;
    background-image: url('C:/Users/Дмитрий/Desktop/My_site/Img/johnat.jpg')
}

.social-logo.johnat{
    margin-top: 325px;
    margin-left: 1302px;
    position: absolute;
}

.social-logo.johnat img{
    margin-right: 20px;
}

.pre-footer{
    width: 1600px; height: 190px;
    overflow: hidden;
    margin-left: auto;
    position: absolute;
    margin-top: 450px;
}

.pre-footer img{
    margin-top: -435px
}

.quote{
    position: absolute;
    margin-left: 375px;
    width: 850px;
    margin-top: 53px;
    top: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
    text-align: center;
}

.quote-autor{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
    width: 110px;
    text-align: center;
    margin: 0;
}

.autor-slider{
    position: absolute;
    width: 155px;
    height: 30px;
    margin-left: 726px;
    margin-top: 112px;
    top: 0;
}

.quote-slider-line{
    stroke: white;
    stroke-width: 2px;
    position: absolute;
    top: 0;
    margin-left: 115px;
}


.other-information{
    width: 1600px; height: 342px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;

}

.inform-circle{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    position: absolute;
}

.inform-circle.fast-server{
    margin-top: 99px;
    background-color: #f1c40f;
    margin-left: 282px;
}

.inform-circle.fast-server p{
    margin-left: 23px;
    margin-top: 14px;
    font-size:22pt; color:white;
}

.fast-server-text{
    margin-left:200px;
    text-align: center;
    width: 221px;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
}

.fast-server-text h1{
    font-size: 14pt;
    margin-bottom: 5px;
    margin-top: 180px;
}

.fast-server-text p{
    margin-top: 0px;
    font-size: 12pt;
    color: lightgray;
}

.inform-circle.cloud-server{
    margin-top: 99px;
    background-color: #0faff1;
    margin-left: 607px;
}

.inform-circle.cloud-server p{
    margin-left: 14px;
    margin-top: 14px;
    font-size:22pt; color:white;
}

.fast-cloud-text{
    margin-left:525px;
    text-align: center;
    width: 221px;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
}

.fast-cloud-text h1{
    font-size: 14pt;
    margin-bottom: 5px;
    margin-top: 180px;
}

.fast-cloud-text p{
    margin-top: 0px;
    font-size: 12pt;
    color: lightgray;
}

.inform-circle.cloud-server{
    margin-top: 99px;
    background-color: #0faff1;
    margin-left: 607px;
}

.inform-circle.cloud-server p{
    margin-left: 14px;
    margin-top: 14px;
    font-size:22pt; color:white;
}

.fast-cloud-text{
    margin-left:525]px;
    text-align: center;
    width: 221px;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
}

.fast-cloud-text h1{
    font-size: 14pt;
    margin-bottom: 5px;
    margin-top: 180px;
}

.fast-cloud-text p{
    margin-top: 0px;
    font-size: 12pt;
    color: lightgray;
}

.inform-circle.domain{
    margin-top: 99px;
    background-color: #95a5a6;
    margin-left: 932px;
}

.inform-circle.domain p{
    margin-left: 15px;
    margin-top: 16px;
    font-size:22pt; color:white;
}

.fast-domain-text{
    margin-left:855px;
    text-align: center;
    width: 221px;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
}

.fast-domain-text h1{
    font-size: 14pt;
    margin-bottom: 5px;
    margin-top: 180px;
}

.fast-domain-text p{
    margin-top: 0px;
    font-size: 12pt;
    color: lightgray;
}

.inform-circle.support{
    margin-top: 99px;
    background-color: #f1540f;
    margin-left: 1257px;
}

.inform-circle.support p{
    margin-left: 15px;
    margin-top: 16px;
    font-size:22pt; color:white;
}

.fast-support-text{
    margin-left:1180px;
    text-align: center;
    width: 221px;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
}

.fast-support-text h1{
    font-size: 14pt;
    margin-bottom: 5px;
    margin-top: 180px;
}

.fast-support-text p{
    margin-top: 0px;
    font-size: 12pt;
    color: lightgray;
}

.footer{
    width: 1600px;
    height: 294px;
    background-color: #2a2a2a;
    margin: auto;
}

.footer-navigation{
    width: 1197px;
    height: 75px;
    margin: 23px 0 0 201px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

.footer-navigation img{
    margin-top: 23px;
    margin-right: 632px;
    opacity: 0.5;    
}

.footer-navigation.isActive{
    margin-top:5px;
    width: auto; height: auto;
    color:white;
    display: inline-block;
    margin-left: 0;
    margin-right: 20px;

}

.footer-navigation.notActive{
    margin-top: 5px;
    width: auto; height: auto;
    color: gray;
    display: inline-block;
    margin-left: 0;
    margin-right: 20px;
}

.footer-line{
    stroke: gray;
    margin-top: 30px;
    stroke-width: 2px;
    margin-left: -10px;
}

.footer-information{
    width: 300px;
    height: 135px;
    color: gray;
    font-size: 12pt;
    margin-left: 201px;
    border-right: gray;
    border-width: 0 2px 0 0;
    border-style: solid;
    padding-right: 70px;
    padding-top: 20px;
    margin-top: 50px;
    line-height: 25px;
    display:inline-block;
    cursor: pointer;
}

.inform-list{
    display: inline-block;
    width: 115px;
    color: gray;
    margin-top: 10px;
    margin-left: 100px;
}

.inform-list p{
    display: block;
}

.inform-list.second{
    border-right: gray;
    border-width: 0 2px 0 0;
    border-style: solid;
    padding-right: 70px;
}

.contact-information{
    display: inline-block;
    width: 270px;
    margin: 0 0 0 100px;
    color: gray;
}

.contact-information p{
    margin: 14px 0 0 0;
}

.slider-point
{
    stroke: white;
    stroke-width: 2px;
    position: absolute;
    top:6px;
    cursor: pointer;
}

.slider-point.first{
    margin-left: 130px;
}

.slider-point.second{
    margin-left: 150px;
}

.slider-point.third{
    margin-left: 170px;
}

.slider-point.active{
    fill: white;
}

.slider-point.notActive{
    fill: transparent;
}

.login{
    width: 370px;
    height: 270px;
    background-color: white;
    border: 2px;
    border-style: solid;
    border-color: lightgray;
    box-shadow: 0 3px 20px rgba(0,0,0,.2);
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 100;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.login h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    color: gray;
    margin-left: auto;
    margin-top: 40px;
    text-align: center;
}

.back-login.visable{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: rgba(0,0,0,.4);
}

.back-login.invisible{
    visibility: hidden;
    display: none;
}

.login.invisible{
    visibility: hidden;
}

.login-input{
    display: block;
    margin-left: 50%;
    transform: translateX(-50%);
    border: lightgray;
    border-style: solid;
    border-width: 1px;
    margin-top: 20px;
}

.password-input{
    display: block;
    margin-left: 50%;
    transform: translateX(-50%);
    border: lightgray;
    border-style: solid;
    border-width: 1px;
    margin-top: 15px;
}

.login p{
    display: block;
    text-align: center;
    margin-top: 15px;
    color: gray;
}

.sign-in{
    display: block;
    margin-left: 50%;
    transform: translateX(-50%);
    border: lightgray;
    border-style: solid;
    border-width: 1px;
    margin-top: 15px;
    box-shadow: 0 3px 20px rgba(0,0,0,.2);
    cursor: pointer;
    outline: none;
}

.login i:hover{
    cursor: pointer;
    text-decoration: underline;
}

.sign-in:hover{
    box-shadow: 0 3px 20px rgba(26,188,156,.2);
}